@media screen and (min-width: 480px) {
	.blog-title {
		text-align: left;
	}

	table {
		width: 100%;
		margin: auto;
	}

	td.blog-title {
		text-align: left;
		vertical-align: top;
	}
	
	td.blog-caption {
		text-align: right;
		vertical-align: top;
	}
}

@media screen and (max-width: 480px) {
	.blog-title {
		text-align: center;

	}

	table, tbody, tr, td, th {
		width: 100%;
		/* 幅を100%にする */
		display: block;
		/* ブロック要素にする */
		text-align: center;
	}
}

.blog-caption {
	color: gray;
}

.blog-caption-small {
	color: gray;
	font-size: small;
}

.blog-title {
	font-size: x-large;
}

.blog-link {
	padding: 0 .3em;
	transition: all .3s;
}



.blog-link:hover {
	color: #2ecc71;


}

@media (prefers-color-scheme: dark) {
	.blog-title {
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	.blog-title {
		color: black;
	}
}