@media screen and (min-width: 480px) {
	.blog-title {
		padding: 0px 30px 0px 30px;
		text-align: left;
	}
	table {
		margin:auto;
	}
}

@media screen and (max-width: 480px) {
	.blog-title {
		text-align: center;

	}
	table,tbody,tr,td,th {
		width: 100%;    /* 幅を100%にする */
		display: block; /* ブロック要素にする */
		text-align: center;
	  }
}

.blog-caption {
	color: gray;
}

.blog-caption-small {
	color: gray;
	font-size: small;
}

.blog-title {
	font-size: x-large;
	color: black;
}
.blog-link {
	padding: 0 .3em;
	transition: all .3s;
  }

.blog-link:hover {
	color: #2ecc71;


  }